body {
    text-align: center;
    margin: auto;
    background-color: antiquwhite;
  }
  
  #div1,
  #div2,
  #div3 {
    display: inline-blok;
    margin: auto;
    width: 80%;
    color: rgb(4, 0, 255);
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    background: rgb(137, 47, 255);
    height: 400px;
    cursor: pointer;
  
  }